.grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(100px, 500px) minmax(100px, 500px);
    gap: 100px;
}

.projects, .cvs, .invitations, .requests {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.userInfoItem, .telegram {
    display: flex;
    gap: 10px;
}

.saveButton, .changeButton {
    cursor: pointer;
}

.changeButton {
    color: #6F02CE;
}

.userInfoItemValue {
    color: #767676;
}

.flexbox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.addButton {
    cursor: pointer;
    border: 1px #262626 solid;
    padding: 0px 10px;
    transition: 0.3s;
}

.addButton:hover {
    background-color: #e9e9e9;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .grid {
        display: block;
    }

    .telegram {
        flex-direction: column;
    }
}