.blockFilters {
    display: flex;
    gap: 20px;
    width: max-content;
}

.blockVacancies {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 250px;
}

#vacancies-header {
    font-size: 48px;
    font-weight: 600;
}

@media (max-width: 1100px) {
    .blockFilters {
        flex-direction: column;
    }
}

@media (max-width: 775px) {

    .blockVacancies {
        margin-top: 50px;
    }

    h1 {
        font-size: 32px;
    }
}