.projectInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.projectInfo p{
    font-size: 32px;
}

.projectInfoItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blockButtons {
    margin-top: 100px;
    display: flex;
    gap: 30px;
}

@media (max-width: 768px) {
    .blockButtons {
        flex-direction: column;
    }
}